.DS_Store
.project
.metadata/
.settings/
.classpath
target/
logs/
*.via
*.tmp
*.err
*.log
*.log.*
*.iml
codegen/ant.properties
!adapter.properties
!iam.properties
bin/
.idea/
.factorypath
.mvn/
.apt_generated/
.svn